awscli==1.10.16
boto==2.39.0
botocore==1.4.7
colorama==0.3.3
dj-database-url==0.4.0
Django==1.9.2
django-jquery==1.9.1
django-storages==1.4
docutils==0.12
ExifRead==2.1.2
futures==3.0.5
gunicorn==19.4.5
jmespath==0.9.0
pbr==1.8.1
psycopg2==2.6.1
pyasn1==0.1.9
python-dateutil==2.5.1
rsa==3.3
s3transfer==0.0.1
six==1.10.0
stevedore==1.10.0
virtualenv==14.0.5
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
whitenoise==2.0.6
